{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $caption := .Get "caption" | default $alt }}
{{ $class := .Get "class" | default "" }}
{{ $width := .Get "width" | default "100%" }}

<figure class="my-8">
  <img 
    src="{{ $src }}" 
    alt="{{ $alt }}" 
    class="rounded-lg {{ $class }}" 
    style="width: {{ $width }}; display: block; margin-left: auto; margin-right: auto;"
  >
  {{ if $caption }}
  <figcaption class="mt-2 text-sm text-center text-gray-600 dark:text-gray-400 italic">
    {{ $caption | markdownify }}
  </figcaption>
  {{ end }}
</figure>